body{
    background-color: grey
}
h1{
    color: black;
    font-size: 64px;
    font-family: Arial, sans-serif;
    text-align: center;
}

li{
    font-family: Arial, sans-serif;
    position: relative;
    left: 0px;
    font-size: 18px
}

h2{
    font-family: Arial, sans-serif;
    color: black;
    font-size: 30px;
    text-align: left;
}
h3{
    font-family: Arial, sans-serif;
    color: black;
    font-size: 12px;
    text-align: left;

}
h4{
    font-family: Arial, sans-serif;
    color: black;
    font-size: 24px;
    text-align: left;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
/* Create four equal columns that sits next to each other */
.column {
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
    flex: 50%;
    max-width: 50%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    flex: 100%;
    max-width: 100%;
}
}

